@import url("base.css");
body{
	background-color: #f7f7f7;
}
/* 头部开始 */
.header{
	width: 100%;
	height: 2.19rem;
	background-color: #ffffff;
	padding: 0.31rem 0.6rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top:0;
}
.header-left{
	display: block;
	width: 1.5rem;
	height: 1.48rem;
}
.header-left img{
	display: block;
	width: 100%;
	height: 100%;
}
.header-center{
	display: block;
	font-size: 0.74rem;
	color: #000000;
	line-height: 1.48rem;
}
.header-right{
	display: block;
	width: 1.5rem;
	height: 1.48rem;
}
.header-right img{
	display: block;
	width: 100%;
	height: 100%;
}
/* 头部结束 */
/*风格开始*/
.fengge{
	width: 100%;
	height:13.32rem;
	background:#ffffff;
	margin-top:2.19rem;
}
.fengge-header{
	width: 100%;
	height:1.45rem;
	padding: 0 0.63rem;
	box-sizing: border-box;
}
.fengge-biaoti{
	font-size:0.58rem;
	color:#2c2c2c;
	line-height: 1.45rem;
	/* margin-left:10%; */
}
.fengge-body{
	width: 100%;
	height: 11.87rem;
	padding: 0 0.63rem;
	box-sizing: border-box;
}
.fengge-list{
	display: block;
	width: 2.53rem;
	height: 3.78rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	float: left;
	margin-left: 1.32rem;
}
.fengge-list:first-child,.fengge-list:nth-child(5),.fengge-list:nth-child(9){
	margin-left: 0;
}
.fengge-list-img{
	width: 2.53rem;
	height: 2.65rem;
}
.fengge-list-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.fengge-list-text{
	width: 100%;
	/* height: 1.13rem; */
	font-size: 0.5rem;
	color: #323232;
	text-align: center;
}
/*风格结束*/
/* 搭配开始 */
.dapei{
	margin-top: 0.34rem;
	width: 100%;
	/* height: 19.63rem; */
	background-color: #ffffff;
	margin-bottom: 2.03rem;
}
.dapei-header{
	width: 100%;
	height: 2.04rem;
	box-sizing: border-box;
	padding-top: 0.69rem;
}
.dapei-header-text{
	margin: 0 auto;
	width: 4.60rem;
	height: 0.57rem;
	display: flex;
	justify-content: space-between;

}
.dapei-header-text li:first-child{
	font-size: 0.54rem;
	color: #2f2f2f;
	line-height: 0.57rem;
}
.dapei-header-text li:last-child{
	font-size: 0.38rem;
	color: #636363;
	line-height: 0.57rem;
}
.dapei-body{
	width: 100%;
	padding: 0 0.11rem;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.dapei-body-list{
	display: block;
	width: 7.36rem;
	height: 12.2rem;
	border: 0.01rem solid #e7e5e6;
	border-radius: 0.2rem;
	margin-top: 0.1rem;
}
.dapei-list-img{
	width: 100%;
	height: 11.16rem;
}
.dapei-list-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.dapei-list-text{
	width: 100%;
	height: 1rem;
	font-size: 0.44rem;
	color: #626262;
	text-align: center;
	line-height: 1rem;
}
/* 搭配结束 */
/* 底部栏开始 */
.dibu{
	width: 100%;
	height: 2.03rem;
	background-color: #ffffff;
	display: flex;
	position: fixed;
	bottom: 0;
}
.dibu-list{
	display: block;
	width: 20%;
	height: 2.03rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

}
.dibu-list-top i{
	font-size: 0.96rem;
	color: #c2c3c4;
}
.dibu-list-top{
	font-size: 0.4rem;
	color: #636363;
}
.dibu-list:nth-child(3) i{
	color: #1e1e1c;
}
.dibu-list:nth-child(3) .dibu-list-top{
	color: #1e1e1c;
}
/* 底部栏结束 */