@import url('base.css');
body{
	background-color: #f7f7f7;
}
/* 头部开始 */
.header{
	width: 100%;
	background-color: #ffffff;
}
.header-top{
	width: 100%;
	height: 4.97rem;
}
.header-denglu{
	display: block;
	float: left;
	width: 2.78rem;
	margin-top: 0.6rem;
	margin-left: 42%;
}
.header-touxiang{
	width: 2.7rem;
	height: 2.7rem;
	border-radius: 50%;
	background-color: ;
}
.header-denglu-text{
	margin-top: 0.34rem;
	width: 100%;
	font-size: 0.5rem;
	color: #656565;
	text-align: center;
}
.header-shezi{
	float: right;
	margin-right: 3%;
}
.header-shezi i{
	font-size: 0.82rem;
	color: #6d6d6d;
}
.header-bottom{
	width: 100%;
	height: 2.55rem;
	display: flex;
	justify-content: space-around;
}
.header-list{
	display: block;
	width: 2rem;
}
.header-list-tu{
	width: 100%;
	text-align: center;
}
.header-list-tu i{
	font-size: 0.9rem;
	color: 	#4a4a4a;
}
.header-list-text{
	margin-top: 0.12rem;
	width: 100%;
	font-size: 0.44rem;
	color: #4a4a4a;
	text-align: center;
}
/* 头部结束 */
/* 导航开始 */
.nav{
	margin-top: 0.34rem;
	width: 100%;
	background: #ffffff;
}
.nav-list{
	display: block;
	width: 100%;
	height: 1.93rem;
	border-bottom: 2px solid #dadada;
	padding: 0 0.6rem;
	box-sizing: border-box;
}
.nav-list-left{
	float: left;
	font-size: 0.52rem;
	color: #686868;
	line-height: 1.93rem;
}
.nav-list-left i{
	font-size: 0.83rem;
	color: #333333;
	margin-right: 0.35rem;
	line-height: 0.193rem;
}
.nav-list-right{
	float: right;
}
.nav-list-right i{
	font-size: 0.66rem;
	color: #333333;
	line-height: 1.93rem;
}
/* 导航结束 */
/* 底部栏开始 */
.dibu{
	width: 100%;
	height: 2.03rem;
	background-color: #ffffff;
	display: flex;
	position: fixed;
	bottom: 0;
}
.dibu-list{
	display: block;
	width: 20%;
	height: 2.03rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

}
.dibu-list-top i{
	font-size: 0.96rem;
	color: #c2c3c4;
}
.dibu-list-top{
	font-size: 0.4rem;
	color: #636363;
}
.dibu-list:last-child i{
	color: #1e1e1c;
}
.dibu-list:last-child .dibu-list-top{
	color: #1e1e1c;
}
/* 底部栏结束 */